  /* Main */

  body
  {
    font-family: "Source Sans Pro", sans-serif;
  }

  .container 
{
    max-width: 800px;
    border: 1px solid #000000;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgba(27, 31, 34, 0.85);
    border-radius: 4px;
    margin-top: 100px;
    padding: 75px 0;
    box-sizing: border-box;

}


 .container .title {
    display: flex;
    font-size: 1.5rem;
    line-height: 1.4;
    letter-spacing: 0.4rem;
    font-weight: 600;
    border-bottom: solid 1px #ffffff;
    padding-bottom: 0.5rem;

 }

 .container form {

     display: flex;
     flex-wrap: wrap;
     max-width: 600px;
     justify-content: space-between;
     /* align-items: center; */
     padding-bottom: 20px


 }

 .container form input {

    width: 42%;
    margin-bottom: 20px;
    transition: 0.2s;
    margin-top: 40px;

    
 }

 .container form textarea {
   
    width: 100%;
    margin-top: 40px;
    padding: 0.75rem 1rem;
    padding-bottom: 4rem;
    /* resize: none; */

}


 .container form input,
 .container form textarea{

    background-color: transparent;
    border-radius: 4px;
    border: solid 1px #ffffff;
    color: inherit;
    height: 2.75rem;
    padding: 0 1rem;



 }


 .container form button {
    background-color: #ffffff;
    color: #1b1f22 !important;
    font-weight: 600;
    border-radius: 4px;
    border: 0;
    box-shadow: inset 0 0 0 1px #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.7rem;
    height: 2.75rem;
    letter-spacing: 0.2rem;
    line-height: 2.75rem;
    outline: 0;
    padding: 0 1.25rem 0 1.35rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    margin-top: 50px;

 }

.fa-github:before {
    padding: 10px;
}
 
.fa-linkedin:before {
    padding: 10px;
}



 @media screen and (max-width: 630px) {
    .container {
    }
    .container form {
        flex-direction: column;
        width: 95%;
    }
    .container form input {
        width: 80%;
    }
    .container form textarea {
        width: 80%;
    }
    .container form button {
        width: 150px;
    }
 }



  /* main
  {
    position: relative;
  } */


  








  /* .test {
    border: 1px solid #000000;
    width: 50%;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
  }

  .test input 
  {
    width: calc(50% - 1.5rem);
    margin: 10px;
  }

  .test div 
  {
    padding: 24px 0 0 24px;
    width: 100%;
    position: relative;
  }

  .big
  {
    width: calc(100% - 1.5rem);
  }

  .form-group
  {
    width: 82%; 
    height: 100%;
  }

  .form-group 
  {
    width: calc(100% - 1.5rem);
  }

  .form-group-half
  {
    width: 49%;
    overflow: hidden;
  }

  .form-group textarea 
  {
    width: 80%;     
  }

   form .fields .field {
    width: calc(100% - 1.5rem);
  }
   
  form > .fields > .field {
    width: calc(100% - 1.5rem);

  } */